* { 
    
    
font-family :Arial, Helvetica, sans-serif;
}

body { 
    background: #fff;
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p2/1987783-abstrait-blanc-gris-fond-bande-moderne-degrade-couleur-ligne-oblique-texture-gratuit-vectoriel.jpg");
    background-size:cover;
    
}

h1 { font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align :center;
font-size : 300%;
background-color: rgb(228, 224, 224);
}

h3 { text-align: center;
}

.gorius {
    width: 50%;
    border: 5px solid;
    border-left-style:groove;
    border-left-color: #B22222;
    background-color: rgb(181, 181, 181);
    margin: 0 auto;
    padding: 20px;
   
    
}

.intro { 
    
    margin: 0 auto;
    
    font-size: 160%;
    background-color: rgb(181, 181, 181);
}

.content {
   
    width: 50%;
    border: 5px solid;
    border-left-style:groove;
    border-left-color: #B22222;
    margin-left: 300px;
    padding: 10px;
    
    background-color: rgb(182, 182, 182);
    
}

.container { position: relative;
    padding: 10px;
    display: flex;
    
}

ul { background-color: rgb(181, 181, 181);
      
}

li { background-color: rgb(181, 181, 181);
      
}

#fourtypes  { 
    background-color: rgb(181, 181, 181);
    
      
}


.imgcontainer { 
    
    padding-left: 50px;
}

em { color :rgb(56, 44, 86);
}

.box { position: relative;
      
      padding: 20px;
      box-sizing: border-box;
      background: rgb(232, 232, 232);
      border-radius: 4px;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      display: flex;
    }

.imgbox { padding-top: 30px;
    padding-left: 50px;
}

.textbox { padding-left: 10px;}

.titlebox { 
    
    background: rgb(40, 36, 36);
    padding: 1px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

 .farmerbox .soulign { 
     position: relative;
     
    padding:20px;
      background: rgb(216, 216, 216);
     
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
}  

.footer { border: 5px solid;
    padding: 20px;
    font-size: 160%;
    background-color: rgb(181, 181, 181);
    border-left-style:groove;
    border-left-color: #B22222;
}

#alan, .good, .bad{
    background-color: rgb(181, 181, 181);
}

.soulign { 
    background: rgb(146, 144, 142);
    text-decoration: underline;
}

p { 
    font-family: serif;
  font-size: auto;
  color: rgb(18, 1, 49);
}

a {
    display: inline-block;
    font-size: 150%;
}
a:link {
    color: red;
}

a:visited {
    color:rgb(105, 2, 119);
}

a:hover {
    color:white;
    font-size: 200%;
      
}

a:active {
    color:gray;
    font-size: 200%;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
background: #fff;
transition: width .3s;


}

a:hover::after {
    width: 100%;
transition: width .3s;

}

body  {


    width: 90%;
    margin: auto;
}



.good:link:visited
{
    color: green;
}

.bad:link:visited {
    color: red;
}