* { 
    font-family: 'Open Sans', sans-serif;
}

body { 
    background: #fff;
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p2/1987783-abstrait-blanc-gris-fond-bande-moderne-degrade-couleur-ligne-oblique-texture-gratuit-vectoriel.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}

h1 { font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align :center;
font-size : 300%;
background-color: rgb(228, 224, 224);
}

h3 { text-align: center;

}

.image1 { 
    width: 80%;
}


/* Box 1 Gorius */
.gorius {
    width: 50%;
    border: 5px solid;
    border-left-style:groove;
    border-left-color: #6e0202;
    background-color: rgb(210, 210, 210);
    margin: 0 auto;
    padding: 20px;
   
    
}

.intro { 
    
    margin: 0 auto;
    
    font-size: 160%;
    background-color: rgb(210, 210, 210);
}

.content {
   
    width: 50%;
    border: 5px solid;
    border-left-style:groove;
    border-left-color: #530202;
  
    padding: 10px;
    
    background-color: rgb(212, 210, 210);
    
}

/* Box list + pic */
.container { position: relative;
    padding: 10px;
    display: flex;
    
}

ul { background-color: rgb(210, 210, 210);
      
}

li { background-color: rgb(210, 210, 210);
    margin-top: 50px;
      
}

#fourtypes  { 
    background-color: rgb(210, 210, 210);
    
      
}


.imgcontainer { 
    
    padding-left: 50px;
}

em { color :rgb(56, 44, 86);
}


/* Box of rock with text */
.box { position: relative;
      
      padding: 20px;
      box-sizing: border-box;
      background: rgb(232, 232, 232);
      border-radius: 4px;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      display: flex;
    }

.imgbox { padding-top: 30px;
    padding-left: 50px;
}

.rock { 
    width:100%;
}

.textbox { padding-left: 10px;}

.titlebox { 
    
    background: rgb(40, 36, 36);
    padding: 1px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .farmerpic {
        width: 40%;
        margin-left: 30%;
    }




 .farmerbox .soulign { 
     position: relative;
     
    padding:20px;
      background: rgb(216, 216, 216);
     
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
}  


/* Box Alan */
.footer { border: 5px solid;
    padding: 20px;
    font-size: 160%;
    background-color: rgb(210, 210, 210);
    border-left-style:groove;
    border-left-color: #B22222;
}

#alan, .good, .bad{
    background-color: rgb(210, 210, 210);
}

.soulign { 
    background: rgb(146, 144, 142);
    text-decoration: underline;
}

p { 
    font-family: serif;
  
  color: rgb(18, 1, 49);
}

a {
    display: inline-block;
    font-size: 150%;
}
.finalslinks:link {
    color: red;
}

.finalslinks:visited {
    color:rgb(105, 2, 119);
}

.finalslinks:hover {
    color:rgb(76, 76, 76);
    font-size: 200%;
      
}

.finalslinks:active {
    color:gray;
    font-size: 200%;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
background: #fff;
transition: width .3s;


}

a:hover::after {
    width: 100%;
transition: width .3s;

}

body  {


    width: 90%;
    margin: auto;
}



.good:link
{
    color: green;
}

.bad:link {
    color: red;
}

.good:visited 
{
    color: green;
}

.bad:visited  {

    color: red;
}

.good:hover
{
    color: green;
    font-size: 155%;
}

.bad:hover {
    color: red;
    font-size: 155%;
}

#yellow { 
    background-color: yellow;
}


/* TableCat */
.tablecat {
    background-color: #fff;
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}


.tablecat td {
    padding: 12px 15px;
    
}


.god { 
    background-color: #fff;
    font-weight: bold;
}

.evil { 
    background-color: rgb(123, 123, 123);
    font-weight: bold;
}

.cat { 
    background-color: #fff;
    font-weight: bold;
}


/* Quotations */
.neighbors {
    display: block;
    width: 50%;
    border: 0px solid black;
    margin: 0 auto;
    padding: 30px;
    font-size: 160%;
    background-color: rgb(223, 223, 223);
    border-left: 3px;
    border-left-style:groove;
    border-left-color: #0fd934;
}

.farmer {
    display: block;
    width: 50%;
    border: 0px solid black;
    margin: 0 auto;
    padding: 30px;
    font-size: 160%;
    background-color: rgb(223, 223, 223);
    border-left: 3px;
    border-left-style:groove;
    border-left-color: #B22222;
}

