* { background : rgb(247, 132, 79); 
font-family :Arial, Helvetica, sans-serif;
}
h1 { font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align :center;
font-size : 300%;
}

h3 { text-align: center;
}

.intro { margin-left: 20px;
}

.container { position: relative;
    padding: 20px;
    display: flex;
}

table { background-color: rgb(88, 32, 32);
    
}

.imgcontainer { padding-left: 100px;
}

em { color :rgb(37, 37, 51);
}

.box { position: relative;
      
      padding: 20px;
      box-sizing: border-box;
      background: rgb(91, 30, 30);
      border-radius: 4px;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      display: flex;
    }

.imgbox { padding-top: 30px;
    padding-left: 50px;
}

.textbox { padding-left: 10px;}

.titlebox { 
    background: rgb(91, 29, 29);
    padding: 1px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

 .farmerbox { 
     position: relative;
     
    padding:20px;
      background: rgb(255, 141, 93);
     
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
}  

.footer { border: 5px solid;
    padding: 20px;
}

.soulign { text-decoration: underline;
}

